.d-none {
    display: none !important;
}

.d-block {
    display: block !important;
}

@media (min-width: 1080px) {
    .d-mb-block {
        display: block !important;
    }

    .d-mb-none {
        display: none !important;
    }
}